html, body {margin: 0; height: 100%; overflow: hidden}
.nav-container {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  font-size: 20px;
  font-family: "Open Sans";
  color: white;

  li {
    margin: 0 10px;
  }

  a {
    transition: all 0.3s ease 0s;
  }

  a:hover {
    border-bottom: solid white 2px;
    transition: all 0.3s ease 0s;
  }

  .login-button {
    text-align: right;
    color: white;
    cursor: pointer;
    display: flex;

    .email-span {
      padding-right: 10px;
      border-right: 2px solid white;
    }

    .logout-span {
      padding-left: 10px;
    }

    img {
      width: 20px;
      margin: 0 10px;
    }
  }

}

.clicked {
  border-bottom: solid white 2px;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-family: "Open Sans";
}

@media (min-width: 641px) {
  .navbar {
    padding-top: 20px;
  }
}

