<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark">
    <!--    <a href="/" class="navbar-brand">Brand</a>-->
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar">
      <ul class="navbar-nav main-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/rules']" [class.clicked]="selectedStep === 0">ZASADY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" [class.clicked]="selectedStep === 1">REZERWACJA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" [class.clicked]="selectedStep === 2">KONTAKT</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a *ngIf="!isAuthenticated" [routerLink]="['/login-form']" class="nav-link">ZALOGUJ SIĘ</a>
        </li>
        <li *ngIf="isAuthenticated && this.currentUser" class="nav-item dropdown login-button">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img class="login-button-img" src="assets/icons/user.svg" alt="user_icon">
            {{this.currentUser.email}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logout()">Wyloguj się</a>
            <a class="dropdown-item" [routerLink]="['/user-panel']">Panel użytkownika</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

