@import "src/app/shared/shared";

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.main-nav {
  li {
    margin: 0 10px;
  }

  a {
    transition: all 0.3s ease 0s;
  }

  a:hover {
    transition: all 0.3s ease 0s;
  }
}

.navbar-nav {
  font-size: 20px;
  font-family: "Open Sans";
  color: white;

  .login-button-img {
    width: 20px;
    margin: 0 5px;
  }

  .login-button {
    cursor: pointer;
  }

}

.navbar-nav .nav-item .nav-link {
  color: white;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.language-button {

  .dropdown-menu {
    min-width: 2em;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 !important;
  }

  .navbar {
    background-color: rgb(0,201,243);
    border-bottom: solid white 2px;
  }

  .navbar-nav .nav-item .nav-link {
    color: white;
  }

  .navbar-nav .nav-item {
    color: white;
    text-align: center;

  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    border-bottom: solid $color-brown 2px;
  }

  .main-nav {
    .clicked {
      font-weight: bold;
    }

    a:hover {
      font-weight: bold;
    }
  }

  .navbar-nav .nav-item .nav-link {
    color: $color-brown;
    min-height: 50px;
  }

  .navbar-nav .nav-item {
    color: $color-brown;
    min-height: 50px;
    text-align: center;
  }

  .login-button-img {
    display: none;
  }

}

@media (min-width: 992px) {

  .navbar {
    padding-left: 15%;
    padding-right: 15%;
  }

  .main-nav {
    .clicked {
      border-bottom: solid white 2px;
    }

    a:hover {
      border-bottom: solid white 2px;
    }
  }

  .navbar-nav .nav-item .nav-link {
    color: white;
  }

  .login-button-img {
    width: 20px;
    margin: 0 5px;
  }

  .navbar-nav .nav-item .login-button {
    color: white;
  }

  .clicked {
    border-bottom: solid white 2px;
  }
}

