@import "../../../shared/shared";

.main-container {
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

.data-section {
  color: $color-brown;
}

.red-title {
  font-size: 18px;
  font-weight: bold;
}

