<div class="container main-container main-container__mar-high">
  <h3 class="ink-free-title">{{'summary.title' | translate}}</h3>
  <p class="red-title">{{'summary.thanks_for_reservation' | translate}}</p>
  <div class="data-section">
    <p>{{'summary.reservation_number' | translate}}: {{this.reservation._id}}</p>
    <p>{{'summary.reservation_from' | translate}}: {{this.reservation.dateFrom | date:'dd/LL/y'}}</p>
    <p>{{'summary.reservation_to' | translate}}: {{this.reservation.dateTo | date:'dd/LL/y'}}</p>
    <p>{{'summary.seat_number' | translate}}: {{this.reservation.seatNumber}}</p>
  </div>
  <button [routerLink]="['/']" class="standard-button">{{'summary.main_page' | translate}}</button>
</div>
