$color-brown: #8f7d4a;

@font-face {
  font-family: Yellowtail;
  src: url('src/assets/fonts/Yellowtail-Regular.ttf') format("opentype");
}

@font-face {
  font-family: "Open Sans";
  src: url('src/assets/fonts/OpenSans-Regular.ttf') format("opentype");
}

.main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.standard-button {
  font-family: "Open Sans";
  font-size: 20px;
  color: $color-brown;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 4px solid $color-brown;
  background: transparent;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 40px 10px 0 10px;

  width: 200px;
  height: 60px;
}

.standard-button:hover {
  color: white;
  background: $color-brown;
  transition: all 0.3s ease 0s;
}

.standard-button-small {
  font-family: "Open Sans";
  font-size: 15px;
  color: $color-brown;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 4px solid $color-brown;
  background: transparent;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 10px 10px;

  width: 140px;
  height: 40px;

}

.standard-button-small:hover {
  color: white;
  background: $color-brown;
  transition: all 0.3s ease 0s;
}

.form-group {
  label {
    color: $color-brown;
  }
}

.red-title {
  color: #ff675a;
  font-family: "Open Sans";
}

@media (min-width: 1200px) {
  .ink-free-title {
    font-size: 100px;
    font-family: "Yellowtail";
    color: $color-brown;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .main-container {

    &__mar-high {
      margin-top: 15%;
    }

    &__mar-low {
      margin-top: 12%;
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-container {

    &__mar-high {
      margin-top: 15%;
    }

    &__mar-low {
      margin-top: 12%;
    }

    .ink-free-title {
      width: 80%;
      font-size: 70px;
      font-family: "Yellowtail";
      color: $color-brown;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-container {

    &__mar-high {
      margin-top: 5%;
    }

    &__mar-low {
      margin-top: 4%;
    }
  }

  .ink-free-title {
    width: 80%;
    font-size: 70px;
    font-family: "Yellowtail";
    color: $color-brown;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 767px) {

  .main-container {

    &__mar-high {
      margin-top: 10px;
    }

    &__mar-low {
      margin-top: 10px;
    }
  }

  .ink-free-title {
    width: 80%;
    font-size: 50px;
    font-family: "Yellowtail";
    color: $color-brown;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
