<div class="main-container">
  <div class="login-container">
    <h3 class="red-title">Zaloguj się</h3>
    <div class="form-group">
      <label for="email">Adres email:</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="password">Hasło:</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button class="standard-button-small">Zaloguj się</button>
  </div>
  <div class="registration-container">
    <h3 class="red-title">Nie masz konta?</h3>
    <button class="standard-button" (click)="goToRegistrationForm()">Zarejestruj się</button>
  </div>
</div>
