@import "../../shared/shared";

:host {
  background: url("../../../assets/bg-1920.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.main-container {
  margin-top: 340px;
  display: flex;
  justify-content: center;

  .red-title {
    margin-bottom: 30px;
  }

  .login-container {
    padding: 0 40px;
    text-align: center;
    min-width: 300px;
    border-right: #8f7d4a 2px solid;

    .form-group {
      text-align: left;
    }
  }

  .registration-container {
    margin: 0 40px;
    min-width: 300px;
    text-align: center;
  }
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid green;
}

.not-valid {
  border-left: 5px solid red;
  background:  #ffb3b3;
}



