@import "../../shared/shared";


.main-container {

  .red-title {
    margin-bottom: 30px;
  }

  .row {
    justify-content: center;
  }

  .col {
    margin: 20px;
  }

  .container {
    text-align: center;
    justify-items: center;


    .form-group {
      text-align: left;
    }
  }

  .registration-container {
    border-left: #8f7d4a 2px solid;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    align-items: center;
    min-height: 200px;
  }

  .login-section {
    padding: 0 50px;
  }
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid green;
}

.not-valid {
  border-left: 5px solid red;
  background: #ffb3b3;
}

@media (max-width: 768px) {
  .main-container {
    .registration-container {
      border-left: none;
      margin-top: 40px;
    }
  }
}



