@import "../../shared/shared";

:host {
  background: url("../../../assets/bg-1920.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.user-data-container {
  margin-top: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .red-title {
    color: #ff675a;
    font-family: "Open Sans";
    margin-bottom: 40px;
  }

  input {
    width: 300px;
  }

  .form-group {
    label {
      color: #8f7d4a;
    }
  }

  .single-section {
    display: flex;

    .form-group {
      padding: 0 20px;
    }
  }

  .data-section{
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid green;
}

.not-valid {
  border-left: 5px solid red;
  background:  #ffb3b3;
}

.not-valid-text {
  color: red;
}
