<div class="user-data-container">
  <h1 class="red-title">Powiedz nam coś o sobie:</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" [appMustMatch]="['password', 'passwordConf']">
    <div class="data-section">
      <div class="single-section">
        <div class="form-group">
          <label for="firstName">Imię:</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" #firstName="ngModel"
                 name="firstName" [class.not-valid]="submitted && firstName.invalid" required>
        </div>
        <div class="form-group">
          <label for="lastName">Nazwisko:</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" #lastName="ngModel"
                 [class.not-valid]="submitted && lastName.invalid" name="lastName" required>
        </div>
      </div>
      <div class="single-section">
        <div class="form-group">
          <label for="phoneNumber">Telefon kontaktowy:</label>
          <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber"
                 placeholder="123 456 789">
        </div>
        <div class="form-group">
          <label for="email">Adres email:</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="user.email"
                 name="email" #email="ngModel" [class.not-valid]="submitted && email.invalid" required>
        </div>
      </div>
      <div class="single-section">
        <div class="form-group">
          <label for="password">Hasło:</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
                 #password="ngModel" [class.not-valid]="submitted && password.invalid" required>
        </div>
        <div class="form-group">
          <label for="passwordConf">Potwierdź hasło:</label>
          <input type="password" class="form-control" id="passwordConf" name="passwordConf"
                 [(ngModel)]="passwordConfirmation" #passwordConf="ngModel"
                 [class.not-valid]="submitted && passwordConf.invalid" required>
          <div *ngIf="passwordConf.invalid && submitted">
            <div *ngIf="passwordConf.errors.mustMatch && submitted && passwordConf.invalid">
              <span class="not-valid-text">Hasła muszą być identyczne</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" (click)="createUser(userForm);" class="standard-button">DALEJ</button>
  </form>
</div>
