@import "../../../shared/shared";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;

  .red-title {
    color: #ff675a;
    font-family: "Open Sans";
    margin-bottom: 40px;
    text-align: center;
  }

  input {
    width: 300px;
  }

  .form-group {
    label {
      color: #8f7d4a;
    }
  }

  .single-section {
    display: flex;
    justify-content: center;

    .form-group {
      padding: 0 20px;
    }
  }

  .data-section{
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-section {
    justify-content: center;
    align-items: center;
  }

}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid green;
}

.not-valid {
  border-left: 5px solid red;
  background:  #ffb3b3;
}

.not-valid-text {
  color: red;
}
