@import "../../../shared/shared";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8f7d4a;
  justify-content: center;
  text-align: center;

  .datepicker {
    font-size: 18px;
    color: black;

    .timeInput {
      margin: 5px;
      width: 55%;
    }
  }

  .color-red {
    color: red;
  }

  .button-section {
    display: flex;
  }

}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.place {
  margin: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  border: dashed black 1px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.place:hover {
  background: rgba(250, 250, 250, 0.3)
}

.material-icons {
  margin: 0 18px 0 18px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
