<div class="container main-container main-container__mar-low">
  <div class="ink-free-title">{{'rules.title' | translate}}</div>
  <div class="content">
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Fusce et elementum magna. Maecenas blandit, metus eu efficitur aliquam, nulla nunc sodales ligula, quis tempus elit purus ut felis. Aenean vulputate dolor sit amet turpis lacinia congue. Nullam finibus lacus vitae mattis rutrum.</li>
    <li>Nulla dui nisi, tincidunt non velit iaculis, ultricies fringilla ex. Nam orci libero, venenatis vel eleifend sit amet, pulvinar in ligula.</li>
  </ol>
  </div>
</div>
